<mat-toolbar >
  <mat-toolbar-row class="bg-sky-100">
    <span class="me-2">
      <button mat-icon-button><mat-icon>menu</mat-icon></button>
    </span>
    <span class="me-2" >
      <img ngSrc="../../assets/ts_logo.jpg" [routerLink]="'/home'" height="200" width="200" alt="Trueblood Services logo">
    </span>
    @for (link of NAVIGATION_LINKS; track link) {
      <span class="me-2">
        <div matRipple [matRippleCentered]="true" class="cursor-pointer" [routerLink]="'/' + link.route">{{link.title}}</div>
      </span>
    }
  </mat-toolbar-row>
</mat-toolbar>
