<app-page-template [title]="'Contact'">
  <div id="quote">
    <h2>Request a free quote</h2>
    <mat-list>
      <mat-list-item>
        <a href="mailto:trueblood.travis@gmail.com"><mat-icon>email</mat-icon>Trueblood.Travis&#64;gmail.com</a>
      </mat-list-item>
      <mat-list-item>
        <a href="tel:+1.3195388269"><mat-icon>phone</mat-icon>(319) 538-8269</a>
      </mat-list-item>
    </mat-list>
  </div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Select Service Category</mat-label>
    <mat-select>
      @for(service of services; track service) {
        <mat-option value="{{service.name}}">{{service.name}}</mat-option>
      }
      <mat-option value="other">Other</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</app-page-template>

