<mat-card class="transition hover:-translate-y-1 duration-300 hover:border-sky-300 hover:shadow-xl services-card" [appearance]="'raised'">
  <mat-card-header>
    <mat-card-title><h4 class="text-sky-900">{{serviceTitle}}</h4></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
    <mat-chip-listbox>
    @for(keyword of keywordList; track keyword){
      <mat-chip class="hover:font-medium">{{keyword}}</mat-chip>
    }
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>
